<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
@*    <link rel="icon" href="~/images/favicon.ico">*@
    <link rel="shortcut icon" href="../../images/favicon.ico" />
    <title>@ViewBag.Title</title>
  @*  @Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-1.9.0.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>


</head>
<body>
  
    @RenderBody()

@*    @Scripts.Render("~/bundles/jquery")*@
    @RenderSection("scripts", required: false)
</body>
</html>
